In [25]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [206]:
##Wikipedia titles
page=requests.get('https://en.wikipedia.org/wiki/Main_Page')
page
soup=BeautifulSoup(page.content)
soup
title=[]
for i in soup.find_all('span',class_="mw-headline"):
    title.append(i.text)
title
df=pd.DataFrame({'Title':title})
df

                           Title
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

In [265]:
#IMDB top rated 100 movies
IMDB_page=requests.get('https://www.imdb.com/list/ls091520106/')
IMDB_page
content=BeautifulSoup(IMDB_page.content)
content
top_100_movies=[]
year=[]
rating=[]
for i in content.find_all('h3',class_='lister-item-header'):
    top_100_movies.append(i.find("a").text.replace("\n"," "))
top_100_movies

year=[]
for j in content.find_all('span',class_='lister-item-year text-muted unbold'):
    year.append(j.text)
year
rating=[]
for k in content.find_all('div',class_='ipl-rating-star small'):
    rating.append(k.text.replace("\n",""))
rating
data = pd.DataFrame()
data['Movie Title']=top_100_movies
data['Year']=year
data['Rating']=rating
data

                            Movie Title    Year Rating
0              The Shawshank Redemption  (1994)    9.3
1                         The Godfather  (1972)    9.2
2                The Godfather: Part II  (1974)      9
3                       The Dark Knight  (2008)      9
4                          12 Angry Men  (1957)      9
..                                  ...     ...    ...
95                   North by Northwest  (1959)    8.3
96                   A Clockwork Orange  (1971)    8.3
97                               Snatch  (2000)    8.3
98  Le fabuleux destin d'Amélie Poulain  (2001)    8.3
99                              The Kid  (1921)    8.3

[100 rows x 3 columns]

In [221]:
##Top 100 Indian Movies- IMDB
Indian_movie=requests.get('https://www.imdb.com/list/ls056092300/?sort=user_rating,desc&st_dt=&mode=detail&page=1&ref_=ttls_ref_rt_vt')
Indian_movie
page_content=BeautifulSoup(Indian_movie.content)
page_content
movie_title=[]
for i in page_content.find_all('h3',class_='lister-item-header'):
    movie_title.append(i.find('a').text)
movie_title
Release_Year=[]
for j in page_content.find_all('span',class_='lister-item-year text-muted unbold'):
    Release_Year.append(j.text)
Release_Year
IMDB_Rating=[]
for k in page_content.find_all('div',class_='ipl-rating-star small'):
    IMDB_Rating.append(k.text.replace("\n",""))
IMDB_Rating
data=pd.DataFrame()
data['movie_title']=movie_title
data['Release_Year']=Release_Year
data['Rating']=IMDB_Rating
data

              movie_title Release_Year Rating
0         Sagara Sangamam       (1983)    8.8
1   Goopy Gyne Bagha Byne       (1969)    8.7
2                 Nayakan       (1987)    8.6
3         Pushpaka Vimana       (1987)    8.6
4             Apur Sansar       (1959)    8.5
..                    ...          ...    ...
95            Amma Ariyan       (1986)    7.1
96                 Vanaja       (2006)    7.1
97               Enthiran       (2010)      7
98           Neecha Nagar       (1946)    6.7
99                Chandni       (1989)    6.7

[100 rows x 3 columns]

In [120]:
##former Presidents of India
URL=requests.get('https://presidentofindia.nic.in/former-presidents.htm')
URL
page_content=BeautifulSoup(URL.content)
page_content
former_Presidents=[]
for i in page_content.find_all('div',class_="presidentListing"):
    former_Presidents.append(i.find("h3").text.split("(")[0])
former_Presidents
Term=[]
for j in page_content.find_all("span",class_="terms"):
    Term.append(j.text)
Term
data=pd.DataFrame()
data['President']=former_Presidents
data['Term of Service']=pd.Series(Term)
data

                        President  Term of Service
0          Shri Pranab Mukherjee   Term of Office:
1   Smt Pratibha Devisingh Patil   Term of Office:
2         DR. A.P.J. Abdul Kalam   Term of Office:
3           Shri K. R. Narayanan   Term of Office:
4        Dr Shankar Dayal Sharma   Term of Office:
5            Shri R Venkataraman   Term of Office:
6               Giani Zail Singh   Term of Office:
7      Shri Neelam Sanjiva Reddy   Term of Office:
8       Dr. Fakhruddin Ali Ahmed   Term of Office:
9   Shri Varahagiri Venkata Giri   Term of Office:
10              Dr. Zakir Husain   Term of Office:
11  Dr. Sarvepalli Radhakrishnan   Term of Office:
12           Dr. Rajendra Prasad   Term of Office:

In [67]:
Term=[]
for j in page_content.find_all('p',class_="Terms"):
    Term.append(j.find('Term of Office:').text)
Term

[]

In [187]:
##Top 10 ODI teams in Men's Cricket
ODI_URL=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
ODI_URL
pagecontent=BeautifulSoup(ODI_URL.content)
pagecontent
Team=[]
for i in pagecontent.find_all('span',class_="u-hide-phablet"):
    Team.append(i.text)
Team
##Matches=[]
##for j in pagecontent.find_all('td',class_="rankings-block__banner--matches"):
  ##  for j in pagecontent.find_all('td',class_="table-body__cell u-center-text"):
    ##    Matches.append(j.text)
##Matches
##Points=[]
##for k in pagecontent.find_all('td',class_="rankings-block__banner--points"):
  ##  Points.append(k.text)
##Points
Rating=[]
for l in pagecontent.find_all('td',class_=["rankings-block__banner--rating u-text-right","table-body__cell u-text-right rating"]):
    Rating.append(l.text.replace("\n",""))
Rating
data=pd.DataFrame()
data['Team']=pd.Series(Team)
##data['Matches']=Matches
##data['Points']=Points
data['Rating']=pd.Series(Rating)
data

                Team                                             Rating
0        New Zealand                              125               ...
1            England                                                124
2          Australia                                                107
3              India                                                105
4           Pakistan                                                102
5       South Africa                                                 99
6         Bangladesh                                                 95
7          Sri Lanka                                                 87
8        West Indies                                                 73
9        Afghanistan                                                 66
10           Ireland                                                 54
11          Scotland                                                 50
12               UAE                                                 39
13       Netherlands                                                 38
14          Zimbabwe                                                 35
15              Oman                                                 32
16           Namibia                                                 22
17     United States                                                 19
18             Nepal                                                 17
19  Papua New Guinea                                                  6
20                                                                  NaN
21                                                                  NaN
22                                                                  NaN
23                                                                  NaN
24                                                                  NaN

In [186]:
Matches=[]
for j in pagecontent.find_all('td',class_="rankings-block__banner--matches"):
    for j in pagecontent.find_all('td',class_="table-body__cell u-center-text"):
        Matches.append(j.text.slice(5))
Matches

AttributeError: 'str' object has no attribute 'slice'

In [180]:
matches = [] #empty list
points = [] #empty list
new_list=[]

for i in pagecontent.find_all("td",class_='rankings-block__banner--matches'): # first place team number of matches
    matches.append(i.text)
for i in pagecontent.find_all("td",class_='rankings-block__banner--points'):# first place team points
    points.append(i.text)
for i in range(0,len(new_list)-1,2):
    matches.append(new_list[i]) # other teams matches
    points.append(new_list[i+1]) # other teams points
matches
points

['1,505']

In [165]:
##top 10 ODI batsmen
ODI_batsmen=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
ODI_batsmen
content2=BeautifulSoup(ODI_batsmen.content)
content2
player=[]
for i in content2.find_all('div',class_="rankings-block__banner--name-large")[0].find_all('td',class_="table-body__cell rankings-table__name name"):
    player.append(i.text)
player

[]

In [161]:
##CNBC News Report
CNBC_URL=requests.get("https://www.cnbc.com/world/?region=world")
CNBC_URL
content=BeautifulSoup(CNBC_URL.content)
content
Headline=[]
for i in content.find_all('a',class_="LatestNews-headline"):
    Headline.append(i.text)
Headline
Time=[]
for j in content.find_all('span',class_="LatestNews-wrapper"):
    Time.append(j.text)
Time
News_Link=[]
for l in content.find_all('a',class_="LatestNews-headline"):
    News_Link.append(l['href'])
News_Link
data=pd.DataFrame()
data['HeadLine']=Headline
data['Time']=pd.Series(Time)
data['New_Link']=News_Link
data

,HeadLine,Time,New_Link
0,"Piper Sandler downgrades Pinterest and Snap, s...",10 Min Ago,https://www.cnbc.com/2022/06/02/piper-sandler-...
1,Russia takes majority control of key Ukrainian...,59 Min Ago,https://www.cnbc.com/2022/06/02/russia-ukraine...
2,U.S. Treasury yields dip ahead of employment data,3 Hours Ago,https://www.cnbc.com/2022/06/02/us-treasury-yi...
3,TerraUSD collapse will 'probably be the end' o...,3 Hours Ago,https://www.cnbc.com/2022/06/02/ust-debacle-wi...
4,Ideas about recycling and nature are changing ...,3 Hours Ago,https://www.cnbc.com/2022/06/02/circular-econo...
5,"European stocks rise as traders assess data, O...",4 Hours Ago,https://www.cnbc.com/2022/06/02/european-stock...
6,How Russia could try to get around the Europea...,6 Hours Ago,https://www.cnbc.com/2022/06/02/how-russia-cou...
7,First time on a yacht? Avoid these 7 amateur m...,7 Hours Ago,https://www.cnbc.com/2022/06/02/first-time-on-...
8,Oil slides after report Saudi Arabia could ste...,8 Hours Ago,https://www.cnbc.com/2022/06/02/oil-prices-eu-...
9,"Solana suffered its second outage in a month, ...",9 Hours Ago,https://www.cnbc.com/2022/06/01/solana-suffere...
10,Goldman names its top battery stock to play ri...,9 Hours Ago,https://www.cnbc.com/2022/06/02/goldman-sachs-...
11,'Fallen angels': Morgan Stanley says buy the d...,9 Hours Ago,https://www.cnbc.com/2022/06/02/morgan-stanley...
12,Self-driving car companies' first step to maki...,10 Hours Ago,https://www.cnbc.com/2022/06/02/self-driving-c...
13,"Javier Olivan, who's replacing Sandberg at Met...",10 Hours Ago,https://www.cnbc.com/2022/06/01/javier-olivan-...
14,"Sandberg was Facebook's adult, but it's always...",10 Hours Ago,https://www.cnbc.com/2022/06/01/sheryl-sandber...
15,Asia-Pacific stocks struggle for direction; oi...,11 Hours Ago,https://www.cnbc.com/2022/06/02/asia-markets-a...
16,Cramer's lightning round: I like P&G over Olaplex,11 Hours Ago,https://www.cnbc.com/2022/06/01/cramers-lightn...
17,Biden administration will cancel student debt ...,11 Hours Ago,https://www.cnbc.com/2022/06/01/biden-administ...
18,Jim Cramer likes this alternative energy play ...,12 Hours Ago,https://www.cnbc.com/2022/06/01/cramer-the-alt...
19,Jim Cramer says investors should consider 3 th...,12 Hours Ago,https://www.cnbc.com/2022/06/01/cramer-says-in...
20,Stock futures rise as investors dwell on healt...,12 Hours Ago,https://www.cnbc.com/2022/06/01/stock-futures-...
21,Best trades on CNBC Wednesday: Safety stocks a...,13 Hours Ago,https://www.cnbc.com/2022/06/01/best-trades-on...
22,Reckitt says it's ready to import 21 million b...,13 Hours Ago,https://www.cnbc.com/2022/06/01/reckitt-baby-f...
23,Why Meta drop on Sandberg's exit is a good cha...,13 Hours Ago,https://www.cnbc.com/2022/06/01/why-drop-in-me...
24,Stocks making the biggest moves after hours: C...,14 Hours Ago,https://www.cnbc.com/2022/06/01/stocks-making-...
25,Tough new sanctions on Russia could change the...,14 Hours Ago,https://www.cnbc.com/2022/06/01/tough-new-sanc...
26,These 'dividend aristocrats' offer returns ami...,14 Hours Ago,https://www.cnbc.com/2022/06/01/these-dividend...
27,GameStop reports $158 million loss and decline...,14 Hours Ago,https://www.cnbc.com/2022/06/01/gamestop-gme-e...
28,"Despite high-profile staff cuts, job market re...",14 Hours Ago,https://www.cnbc.com/2022/06/01/job-market-rem...
29,Facebook parent Meta COO Sheryl Sandberg is st...,15 Hours Ago,https://www.cnbc.com/2022/06/01/facebook-coo-s...

In [122]:
##Most Downloaded articles
article_URL=requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")
article_URL
page_content1=BeautifulSoup(article_URL.content)
page_content1
Paper_title=[]
for i in page_content1.find_all('h2',class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    Paper_title.append(i.text)
Paper_title
Author=[]
for j in page_content1.find_all('span',class_="sc-1w3fpd7-0 pgLAT"):
    Author.append(j.text)
Author
date=[]
for k in page_content1.find_all('span',class_="sc-1thf9ly-2 bKddwo"):
    date.append(k.text)
date
link=[]
for l in page_content1.find_all('a',class_="sc-5smygv-0 nrDZj"):
    link.append(l['href'])
link
df=pd.DataFrame()
df['Paper_Title']=Paper_title
df['Author']=Author
df['Published_Date']=date
df['Link']=link
df

,Paper_Title,Author,Published_Date,Link
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

In [143]:
##Dine out
dine_out=requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")
dine_out
rest_content=BeautifulSoup(dine_out.content)
rest_content
rest_name=[]
for i in rest_content.find_all('a',class_="restnt-name ellipsis"):
    rest_name.append(i.text)
rest_name
location=[]
for j in rest_content.find_all('div',class_="restnt-loc ellipsis"):
    location.append(j.text)
location
rest_rating=[]
for k in rest_content.find_all('div',class_="restnt-rating rating-4"):
    rest_rating.append(k.text)
rest_rating
image=[]
for l in rest_content.find_all('img',class_="no-img"):
    image.append(l['data-src'])
image
df=pd.DataFrame({'Restaurant Name':rest_name,'Location':location,'rating':rest_rating,'Image URL':image})
df

,Restaurant Name,Location,rating,Image URL
0,Castle Barbeque,"Connaught Place, Central Delhi",3.5,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,World Cafe,"Vibe by The Lalit Traveller,Sector 35, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
9,Indian Grill Room,"Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,Mad 4 Bar B Que,"Sector 29, Faridabad",3.6,https://im1.dineout.co.in/images/uploads/resta...
11,Barbeque 29,"NIT, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,Glasshouse,"DoubleTree By Hilton Gurugram Baani Square,Sec...",4,https://im1.dineout.co.in/images/uploads/resta...

In [152]:
##Top Publications
scholar_form=requests.get("https://scholar.google.com/citations?view_op=top_venues&hl=en")
scholar_form
content1=BeautifulSoup(scholar_form.content)
content1
Rank=[]
for i in content1.find_all('td',class_="gsc_mvt_p"):
    Rank.append(i.text.replace(".",""))
Rank
publications=[]
for j in content1.find_all('td',class_="gsc_mvt_t"):
    publications.append(j.text)
publications
h5_index=[]
for k in content1.find_all('a',class_="gs_ibl gsc_mp_anchor"):
    h5_index.append(k.text)
h5_index
h5_median=[]
for l in content1.find_all('span',class_="gs_ibl gsc_mp_anchor"):
    h5_median.append(l.text)
h5_median
df=pd.DataFrame({'Rank':Rank,'Publications':publications,'h5_index':h5_index,'h5_median':h5_median})
df

   Rank                                       Publications h5_index h5_median
0     1                                             Nature      414       607
1     2                The New England Journal of Medicine      410       704
2     3                                            Science      391       564
3     4  IEEE/CVF Conference on Computer Vision and Pat...      356       583
4     5                                         The Lancet      345       600
..  ...                                                ...      ...       ...
95   96                            Frontiers in Immunology      134       177
96   97                                              Small      134       173
97   98                                  Nature Immunology      133       210
98   99                                      JAMA Oncology      133       202
99  100                               The Lancet Neurology      133       200

[100 rows x 4 columns]